<!DOCTYPE html>
<html>
<head>
	<title>Role 4 Initiative!</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
	<!--HOMEPAGE-->
	<!--HEADER NAV BAR-->
	<div class="nav navbar-inverse">
		<div class="container-fluid">
			<div class="nav navbar-left" style="margin-bottom:5px">
				<table><tr>
					<td><img src="static/images/2d6_glow_extra_narrow_small1.png" alt="" type="image/png"/></td>
					<td><span style="color:#ffffff"><h1>Role 4 Initiative</h1></span></td>
				</tr></table>
			</div>
			<div class="nav navbar-right" style="margin-top:20px">
				<table><tr>
					<td>
						<div class="btn-group">
							<button class="btn btn-primary">Login</button>
							<button class="btn btn-primary">New User</button>
							<button class="btn btn-primary"><span class="glyphicon glyphicon-cog"></span></button>
						</div>
					</td>
				</tr></table>
			</div>
		</div>
	</div>

	<!--BODY-->
	<div class="container">
		<table class="table table-striped">
			<tr>
				<td>
					<div class="panel panel-default">
						<div class="panel panel-heading"><div class="page-header"><h2>Welcome to R4I! <small>Your simple online RPG utility kit</small></h2></div></div>
						<div class="panel-body">
							<table class="table table-striped">
								<tr>
									<td>
										<div class="well">
											<h3>Quick Roll</h3>
											<p><strong>Need dice?</strong> Don't got dice? We got dice.</p>
											<form method="post" action="/roll_dice/">
												<table class="table table-striped">
													<tr>
														<td>
															<div class="col-xs-3">
																<div class="form-group">
																	<label for="NumDice">Number of Dice</label>
																	<input type="numer" min="1" max="20" class="form-control" id="NumDice" placeholder="1-20">
																</div>
															</div>
															<div class="col-xs-3">
																<div class="form-group">
																	<label for="NumSides">Number of Sides</label>
																	<input type="numer" min="4" max="100" class="form-control" id="NumSides" placeholder="4-100">
																</div>
															</div>
														</td>
														<td>

														</td>
													</tr>
												</table>
												<button type ="submit" class="btn btn-default">Give me the D!</button>
												{% csrf_token %}
												{{ form }}
											</form>	
										</div>
									</td>
									<td>
										<div class="well">
											<h3><p>Featured Games</p></h3>
											<ul class="list-group">
												{% if game_list %}
													{% for game in game_list %}
														<a href="#"><li class="list-group-item">{{ game.game_name }}</li><a>
													{% endfor %}
												{% endif %}												
											</ul>
										</div>
									</td>
								</tr>	
							</table>
						</div>
					</div>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>
